@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

:root {
    /* Colors */
    --vermellion: hsl(4 100% 67%);
    --dark-navy: hsl(234 29% 20%);
    --pale-navy: hsl(234 17% 26%);
    --grey-25pc: hsl(243 28% 13% / 0.25);
    --white: hsl(0, 0%, 100%);

    /* Background*/
    --gradient: linear-gradient(hsl(14 100% 61%), hsl(346 100% 66%));

    /* Font sizes */
    --heading: 2.5rem;
    --body: 1rem;
    --body-small: 0.75rem;

    /* Spacing */
    --space-100: 8px;
    --space-125: 10px;
    --space-200: 16px;
    --space-300: 24px;
    --space-500: 40px;
}

*, *::before, *::after {
    box-sizing: border-box;
}
  
* {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    letter-spacing: 0;
    background-color: var(--pale-navy);
    color: var(--dark-navy);
}

button {
    border: none;
    border-radius: 8px;
    width: 100%;
    height: 3.5rem;
    font-family: inherit;
    font-size: inherit;
    font-weight: 700;
    color: var(--white);
    background-color: var(--dark-navy);
}

.card {
    background-color: var(--white);
    min-height: 100vh;
}

.card::before {
    display: block;
    content: "";
    background: url("../assets/images/illustration-sign-up-mobile.svg");
    height: 284px;
}

form {
    margin-block-start: 40px;
}

h1, h2 {
    font-size: var(--heading);
    font-weight: 700;
    line-height: 1;
}
  
img {
    display: block;
    max-width: 100%;
}

input {
    margin-block: var(--space-100) var(--space-300);
    border: solid 1px var(--grey-25pc);
    border-radius: 8px;
    width: 100%;
    height: 3.5rem;
    padding-inline: var(--space-300);
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

input:focus {
    outline: none;
    border-color: inherit;
}

input::placeholder {
    color: inherit;
    opacity: 0.5;
}

label {
    display: block;
    font-size: var(--body-small);
    font-weight: 700;
}

li:not(:last-child) {
    margin-block-end: var(--space-125);
}

main {
    padding: var(--space-500) var(--space-300);
}

p {
    margin-block: var(--space-300);
}

#success {
    display: none;
}

ul {
    list-style: none;
}

ul > li {
    display: flex;
    column-gap: var(--space-200);
    justify-content: start;
}

ul > li::before {
    display: block;
    content: "";
    background: url("../assets/images/icon-list.svg") no-repeat;
    flex: 0 0 21px;
}
