@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

:root {
    /* Colors */
    --vermellion: hsl(4 100% 67%);
    --dark-navy: hsl(234 29% 20%);
    --pale-navy: hsl(234 17% 26%);
    --grey-25pc: hsl(243 28% 13% / 0.25);

    /* Background*/
    --gradient: linear-gradient(hsl(14 100% 61%), hsl(346 100% 66%));
}

*, *::before, *::after {
    box-sizing: border-box;
}
  
* {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
}
  
img {
    display: block;
    max-width: 100%;
}

#success {
    display: none;
}